{% extends 'music/base.html' %}
<style type="text/css">
    ul{
        list-style:none;

    }
       
    a{
        text-decoration:none;
    }
    
</style>
{% block body %}
        <ul>
            <h2> These are the Albums in the Music Database  </h2>
            {% for album in all_albums %}
           {% comment %}
            <li> <a href="{% url 'music:detail' album.id %}"> {{album.album_title}}</a></li>
            {% endcomment %}

            <li> {{ album.album_logo }} </li>
            <li> <h2>{{ album.album_title }} </h2></li>
            <li> <h4> {{ album.artist }}</h4></li>
            <li> <a class ="btn btn-info" href="{% url 'music:detail' album.id %}"> View Detail</a></li>

           
          
            {% endfor %}
        </ul>
{% endblock %}
   