{% comment %}
1. The main purpose of the detail page is to let people select their choice 


<form action="{% url 'generic:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
<legend><h1>{{ question.question_text }}</h1></legend>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for choice in question.choice_set.all %}
<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="Vote" />
</fieldset>

</form>



{% endcomment %}



<form action="{% url 'generic:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend> <h2>{{ question.question_text }}</h2> </legend>
        {% comment %}
        1. We need to get all the choices now associated with this particular question
        2. Let's assume there is an error we need to display it below using the if loop
        {% endcomment %}
        {% if error_message %}
        <p>
        <strong> {{ error_message }} 
        </p>
        {% endif %}
        {% for choice in question.choice_set.all %}
        
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{ choice.id }}"> 
        <label for="choice{{forloop.counter}}"> {{ choice.choice_text }} </label> <br/>
        {% endfor %}
        <input type="submit" value="Vote" />


    </fieldset>
</form>


