{% if latest_question_list %}
<ul>
    {% for text in latest_question_list %}
    {% comment %}
   
   <li> <a href="tutorial text.id"> {{ text.question_text }} </a></li> 
     <!--   <li> <a href="{% url 'detail' text.id %}"> </a></li> ---->

     1. Note that the pk here represents the primary key and subsequently the id of the question instead of 
     writing text.id, its just replaced with pk 
     {% endcomment %}

    <li> <a href="{% url 'generic:detail' text.id %}" > {{ text.question_text }} </a></li>

    {% endfor %}
</ul>
{% else %}
<p> Sorry, No questions are available </p>

{% endif %}