<html>
    <head>
        {% block title %}<title> Registration Unit into the Adeolas   </title> {% endblock %}
        <style type="text/css">
            body{
               background:linear-gradient(blue,green); 
            }
        </style>
    </head>


<h1> Add New Member here </h1>
<form method="post" action="addrecord/">
    {% csrf_token %}
    FirstName: 
    <br><br>
    <input type="text" name="first" />
    <br><br>
    LastName:
    <br><br>
    <input type="text" name="last" />
    <br><br>
    <input type="submit" value="Submit" />
</form>

</html>
