a:active{
    color:green;
}
a:hover{
    color:aqua;
}
a:link{
    color:blueviolet;
}
a:visited{
    color:brown;
}
a{
    text-decoration:none;
}
body{
    background-color:hotpink;
    font-size:20px;
    
}